2025/05/Qr13sbZoGXVM6srp.json
{
  "active": false,
  "connections": {
    "is pdf?": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Tesseract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "arbeitsunfähigkeitsbescheinigung?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "benachrichtigung": {
      "main": [
        []
      ]
    },
    "New file in gdrive/docspelled": {
      "main": [
        [
          {
            "node": "is pdf?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "arbeitsunfähigkeitsbescheinigung?": {
      "main": [
        [
          {
            "node": "move to \"arbeitsunfähigkeitsbescheinigung\" folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move to \"arbeitsunfähigkeitsbescheinigung\" folder": {
      "main": [
        [
          {
            "node": "benachrichtigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tesseract": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-28T22:48:38.178Z",
  "id": "Qr13sbZoGXVM6srp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "dave document manager",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edf1359f-cd6d-4db1-b6cf-3aaef0310863",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -200
      ],
      "id": "a9937458-6ddf-4606-a23d-9d0e0f7c8715",
      "name": "is pdf?"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1120,
        -660
      ],
      "id": "d9262089-0e7b-4dee-a364-22cfad4acee5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        -300
      ],
      "id": "7d8a601f-3edf-47a0-857a-5f6f2975acc1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cENfd3GWDP54jP4B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7275455096",
        "text": "=Ich habe ein neues Dokument in docspelled/arbeitsunfähigkeitsbescheinigung verschoben!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -460
      ],
      "id": "b4ea3cc0-02cf-48a8-888c-3647386cac57",
      "name": "benachrichtigung",
      "webhookId": "ec589fb8-22af-480d-9b02-1d9d14d6a453",
      "credentials": {
        "telegramApi": {
          "id": "JBHnyS5jG2jPYXLJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ],
      "id": "698836ec-3652-43d2-b973-c18e135852d4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Rd3X2deRrsPtYp53xebOFFp4nXFzu183",
          "mode": "list",
          "cachedResultName": "docspelled",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Rd3X2deRrsPtYp53xebOFFp4nXFzu183"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ],
      "id": "dd8d8823-425c-4956-aecb-4da1d69ed28e",
      "name": "New file in gdrive/docspelled",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cENfd3GWDP54jP4B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "arbeitsunfähigkeits-",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "68a55114-701b-455e-8602-cc6797e48eb0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        -380
      ],
      "id": "7f2bf7ec-3d75-4a4b-b83d-a3bd7ae3596a",
      "name": "arbeitsunfähigkeitsbescheinigung?"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fjxY9UhdsGzrUTw5-QDZEH94x91kAYYT",
          "mode": "list",
          "cachedResultName": "arbeitsunfähigkeitsbescheinigung",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fjxY9UhdsGzrUTw5-QDZEH94x91kAYYT"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        -480
      ],
      "id": "7002b19f-590c-4819-8d2c-b6bef72d8427",
      "name": "move to \"arbeitsunfähigkeitsbescheinigung\" folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cENfd3GWDP54jP4B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        620,
        -300
      ],
      "id": "e8cdc1e6-e0b7-464f-ae4a-17ccf63664ed",
      "name": "Tesseract",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "notes": "this might take forever"
    },
    {
      "parameters": {
        "chatId": "7275455096",
        "text": "tesseract actually finished",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        820,
        -540
      ],
      "id": "6407b373-d714-47b3-a929-b2340a1ea455",
      "name": "benachrichtigung1",
      "webhookId": "ec589fb8-22af-480d-9b02-1d9d14d6a453",
      "credentials": {
        "telegramApi": {
          "id": "JBHnyS5jG2jPYXLJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:New file in gdrive/n8n-kfzwolfram": {
      "lastTimeChecked": "2025-05-28T22:48:10Z"
    }
  },
  "tags": [
    {
      "createdAt": "2025-05-28T17:01:32.224Z",
      "updatedAt": "2025-05-28T17:01:32.224Z",
      "id": "Q9YqS7EotF2ILdwM",
      "name": "personal"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-28T23:21:05.532Z",
  "versionId": "17a38520-251f-4af3-b598-62d75b8bf6af"
}